<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzwl.demo.dao.RoleMenuMapper" >
  <!-- 角色一对多菜单结果 -->
	<resultMap id="customizationResultMap"
		type="com.gzwl.demo.pojo.Role">
		<id column="role_id" jdbcType="BIGINT" property="roleId" />
		<result column="role_name" jdbcType="VARCHAR"
			property="roleName" />
		<result column="role_remark" jdbcType="VARCHAR"
			property="roleRemark" />
		<collection property="menuList"
			ofType="com.gzwl.demo.pojo.Menu"
			resultMap="com.gzwl.demo.dao.MenuMapper.BaseResultMap" />
	</resultMap>
	<!-- 菜单一对多角色结果 -->
	<resultMap id="customizationResultForMenuMap"
		type="com.gzwl.demo.pojo.Menu">
		<id column="menu_id" jdbcType="BIGINT" property="menuId" />
	    <result column="title" jdbcType="VARCHAR" property="title" />
	    <result column="icon" jdbcType="VARCHAR" property="icon" />
	    <result column="href" jdbcType="VARCHAR" property="href" />
	    <result column="perms" jdbcType="VARCHAR" property="perms" />
	    <result column="spread" jdbcType="VARCHAR" property="spread" />
	    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
	    <result column="sorting" jdbcType="BIGINT" property="sorting" />
		<collection property="roleList"
			ofType="com.gzwl.demo.pojo.Role"
			resultMap="com.gzwl.demo.dao.RoleMapper.BaseResultMap" />
	</resultMap>
	
	<sql id="Base_Column_List">menu_id,role_id</sql>
	<!-- 定制联表查询字段 -->
	<sql id="Customization_Column_List">
		role.role_id,role.role_name,role.role_remark,
		menu.menu_id,menu.title,menu.icon,menu.href,menu.perms,menu.spread,menu.parent_id,menu.sorting
	</sql>
	<!-- 定制联接表 -->
	<sql id="Customization_Join_Table">
		role_menu
		JOIN role ON
		(role_menu.role_id=role.role_id)
		JOIN menu ON
		(role_menu.menu_id=menu.menu_id)
	</sql>
	<delete id="deleteByPrimaryKey"
		parameterType="com.gzwl.demo.pojo.RoleMenuKey">
		delete from role_menu
		where menu_id =
		#{menuId,jdbcType=BIGINT}
		and role_id = #{roleId,jdbcType=BIGINT}
	</delete>

	<!-- 批量删除 -->
	<delete id="deleteBatchByPrimaryKey"
		parameterType="java.util.List">
		DELETE FROM role_menu
		WHERE
		<foreach collection="list" item="item" index="index"
			separator="or">
			( menu_id=#{item.menu.menuId}
			AND role_id=#{item.role.roleId} )
		</foreach>
	</delete>
	<insert id="insert"
		parameterType="com.gzwl.demo.pojo.RoleMenuKey">
		insert into role_menu (menu_id, role_id)
		values
		(#{menuId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
	</insert>

	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into role_menu
		(
		<include refid="Base_Column_List" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.menu.menuId,jdbcType=BIGINT},
			#{item.role.roleId,jdbcType=BIGINT}
			)
		</foreach>
	</insert>

	<select id="selectByExample" parameterType="java.lang.Long"
		resultMap="customizationResultMap">
		select
		<include refid="Customization_Column_List" />
		from
		<include refid="Customization_Join_Table" />
		where role_menu.role_id = #{roleId,jdbcType=BIGINT}
	</select>
	
	<select id="selectByMenuId" parameterType="java.lang.Long"
		resultMap="customizationResultForMenuMap">
		select
		<include refid="Customization_Column_List" />
		from
		<include refid="Customization_Join_Table" />
		where menu.menu_id = #{menuId,jdbcType=BIGINT}
	</select>
</mapper>